/* ///// FONTS ///// */

@font-face {
    font-family: 'lostinwild';
    src: url('font/LostinWild.ttf');
    src: url('font/LostinWild.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'helvetica';
    src: url('font/HelveticaNeue.ttf');
    src: url('font/HelveticaNeue.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaCB';
    src: url('font/HelveticaNeueCondensedBold.ttf');
    src: url('font/HelveticaNeueCondensedBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaT';
    src: url('font/HelveticaNeue-Thin.ttf');
    src: url('font/HelveticaNeue-Thin.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ///// GRID ///// */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

/* ///// STYLE DU SITE ///// */

html {
    position: relative;
}

body {
    height: 100vh;
    width: 100vw;
    background: #fefefe;
    position: absolute;


}

@media all and (min-width: 1000px) {

    body {

        display: flex;
    }

}

span {
    color: #fe4d4d;
}

/* ///// BLOC DE GAUCHE ///// */

.img {

    position: relative;
    display: none;

}

.img img {

    height: 100%;
    width: 100%;
    overflow: hidden;


}

/* ///// IMAGE RESPONSIVE 1 ////// */

@media all and (min-width: 1000px) {


    .img {

        display: inherit;
        height: 100vh;
        width: 0%;
        overflow: hidden;

    }

    .img img {

        height: 100vh;
        width: 80%;
        margin: auto;
    }

}



/* ///// BLOC DE DROITE ///// */

@media all and (min-width: 1000px) {

    .contenu {

        width: 50%;
        height: 100vh;
        position: absolute;
        right: 0;
    }

}


/*H1*/

.contenu h1 {

    text-align: center;
    font-family: 'lostinwild';
    font-size: 10rem;
    color: #fe4d4d;
    margin-top: 25%;
    opacity: 1;

}


@media all and (min-width: 1000px) {


    .contenu h1 {

        font-size: 5rem;
        margin-top: 20%;
        opacity: 0;

    }

}


/* ///// txt1 ///// */

.contenu .txt1 {

    width: 80%;
    margin: auto;
    font-family: 'helveticaCB';
    font-size: 3.5rem;
    margin-top: 100px;

}

.cacheTexte1 {

    width: 80%;
    margin-left: 10%;
}

@media all and (min-width: 1000px) {



    .contenu .txt1 {


        font-size: 2rem;
        margin-top: 0;
        width: 400px;

    }


    .cacheTexte1 {

        position: absolute;
        margin-left: 10%;
        width: 0;
        overflow: hidden;
    }


}


/* ////// js ////// */

.contenu .js {

    text-align: center;
    font-family: 'helveticaCB';
    text-transform: uppercase;
    max-width: 80%;
    margin: 0 auto 0 auto;
    margin-top: 50px;
    font-size: 9rem;
    line-height: 120px;



}


.contenu .jss {
    font-size: 10rem;

}



@media all and (min-width: 1000px) {


    .contenu .js {


        font-size: 5rem;
        line-height: 80px;
        opacity: 0;

    }

    .contenu .jss {

        font-size: 6rem;
    }

    .cacheJS {

        width: 100%;
        position: absolute;
        top: 62%;
    }

}



/* ////// DIV COLOR ///// */

@media all and (min-width: 1000px) {

    .colorimg,
    .colortxt1,
    .colortxt2,
    .colorjs {

        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        bottom: 0;
        background: #fe4d4d;
        z-index: 10;
        opacity: 1;


    }
}


.colortxt2 {

    height: 85%;
    right: 20%;
    width: 80%;
    opacity: 0;

}


/* ///// VOLET ////// */

.volet {
    position: absolute;
    height: 100%;
    width: 20%;
    left: 0;
    top: 0;
    background: #fe4d4d;


}

.volet2 {
    position: absolute;
    height: 100%;
    width: 20%;
    left: 20%;
    bottom: 0;
    background: #fe4d4d;


}

.volet3 {

    position: absolute;
    height: 100%;
    width: 20%;
    left: 40%;
    top: 0;
    background: #fe4d4d;

}

.volet4 {
    position: absolute;
    height: 100%;
    width: 20%;
    left: 60%;
    bottom: 0;
    background: #fe4d4d;


}

.volet5 {

    position: absolute;
    height: 100%;
    width: 20%;
    left: 80%;
    top: 0;
    background: #fe4d4d;

}

/* ///// TRAIS ///// */

.trais {
    position: absolute;
    background: #fefefe;
    width: 5px;
    height: 100px;
    left: 0;
    top: 0;
    z-index: 9999;


}

.trais2 {
    position: absolute;
    background: #fefefe;
    width: 5px;
    height: 100px;
    left: 20%;
    top: 20%;
    z-index: 9999;


}

.trais3 {
    position: absolute;
    background: #fefefe;
    width: 5px;
    height: 100px;
    left: 40%;
    top: 40%;
    z-index: 9999;


}

.trais4 {
    position: absolute;
    background: #fefefe;
    width: 5px;
    height: 100px;
    left: 60%;
    top: 60%;
    z-index: 9999;


}

.trais5 {
    position: absolute;
    background: #fefefe;
    width: 5px;
    height: 100px;
    left: 80%;
    top: 80%;
    z-index: 9999;


}


@media all and (min-width: 1000px) {



    .trais {
        position: absolute;
        background: #fefefe;
        width: 0.5px;
        height: 100px;
        left: 0;
        top: 0;
        z-index: 9999;


    }

    .trais2 {
        position: absolute;
        background: #fefefe;
        width: 0.5px;
        height: 100px;
        left: 20%;
        top: 20%;
        z-index: 9999;


    }

    .trais3 {
        position: absolute;
        background: #fefefe;
        width: 0.5px;
        height: 100px;
        left: 40%;
        top: 40%;
        z-index: 9999;


    }

    .trais4 {
        position: absolute;
        background: #fefefe;
        width: 0.5px;
        height: 100px;
        left: 60%;
        top: 60%;
        z-index: 9999;


    }

    .trais5 {
        position: absolute;
        background: #fefefe;
        width: 0.5px;
        height: 100px;
        left: 80%;
        top: 80%;
        z-index: 9999;


    }


}