/* ///// FONTS ///// */

@font-face {
    font-family: 'lostinwild';
    src: url('font/LostinWild.ttf');
    src: url('font/LostinWild.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'helvetica';
    src: url('font/HelveticaNeue.ttf');
    src: url('font/HelveticaNeue.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaCB';
    src: url('font/HelveticaNeueCondensedBold.ttf');
    src: url('font/HelveticaNeueCondensedBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ///// GRID ///// */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

/* ///// STYLE DU SITE ///// */

body {
    height: 99%;
    background: #fdf2d2;
/*    background: #fefefe;*/

}

span {
    color: #fe4d4d;
}

/* ///// BLOC DE GAUCHE ///// */

.img {

    height: 50%;
    width: 100%;
    display: none;
}

.img img {

    height: 100%;
    width: 100%;
}

/* ///// BLOC DE DROITE ///// */

.contenu h1 {

    text-align: center;
    font-family: 'lostinwild';
    margin-top: 25%;
    font-size: 10rem;
    color: #fe4d4d;

}

.contenu .txt1 {

    width: 80%;
    margin: auto;

    font-family: 'helveticaCB';
    font-size: 3.5rem;
    margin-top: 100px;

}

.contenu .txt2 {

     width: 80%;

    font-family: 'helveticaCB';
    font-size: 2.3rem;
    margin: 50px auto 0 auto;


}

.contenu .js {
    text-align: center;
    font-family: 'helveticaCB';
    text-transform: uppercase;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    font-size: 9rem;
    line-height: 150px;
    


}

.contenu .jss {
       font-size: 9.5rem;
    


}











